<div class="card">
      <div class="dell-btn">
          <img src="src/img/dell-icon.png" alt="">
      </div>
      <img src={{previewURL}} alt="" data-fullview={{largeImageURL}} class="card__img">
    </div>