@font-face {
  font-family: "Comfortaa"; /* название одно */
  src: url("../fonts/Comfortaa-Regular.ttf"); /* разные файлы */
  font-weight: 400; /* разный вес/жирность */
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa"; /* название одно */
  src: url("../fonts/Comfortaa-Bold.ttf"); /* разные файлы */
  font-weight: 700; /* разный вес/жирность */
  font-style: normal;
}
