@media screen and (max-width: 880px) {
  .main {
    max-width: 66rem;

    .card {
      min-width: calc((100% - 26px) / 3);

      &:nth-child(4n) {
        margin-right: 13px;
      }

      &:nth-child(3n) {
        margin-right: 0px;
      }

     
    }
  }
}

@media screen and (max-width: 680px) {
  .header {
    max-width: 42rem;
  }

  .main {
    max-width: 44rem;

    .card {
      min-width: calc((100% - 13px) / 2);

      &:nth-child(3n) {
        margin-right: 13px;
      }

      &:nth-child(2n) {
        margin-right: 0px;
      }
    }
  }
}

@media screen and (max-width: 700px){
  .modal__img {
    width: 95%;
    height: unset;
    margin-top: 30%;
  }
}

// @media screen and (max-width: 610px){
//   .modal__img {
//     width: 50rem;
//     height: unset;
//   }
// }

// @media screen and (max-width: 500px){
//   .modal__img {
//     width: 40rem;
//     height: unset;
//   }
// }

// @media screen and (max-width: 420px){
//   .modal__img {
//     width: 30rem;
//     height: unset;
//   }
// }

@media screen and (max-width: 450px) {
  .header__logo {
    img {
      width: 200px;
      height: 55px;
    }
  }

  .form {
    display: contents;

    &__input {
      margin-bottom: 20px;
    }

    &__button-small {
      width: 60%;
      height: 30px;
      margin-left: 0px;
    }
  }

  .form-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    max-width: 210px;

    .card {
      min-width: 100%;
      margin-right: 0px;

      &:nth-child(3n) {
        margin-right: 0px;
      }
    }
  }
}
