$link-color: rgb(103, 58, 183);
$link-font: "Roboto";
$button-font: "Comfortaa";
$btn-color: #cddc39;
$btn-color-active:#b4bf39;
$focusing-color: rgb(103, 58, 183);
$primery: #fff;
$placeholder-color:rgb(209, 211, 212);
$input-text-color: rgb(109, 110, 113);
$primery-color-img:#231f20;